<div class="container">
	<!-- Branding Header -->
	<div class="headerFiller">
		<div class="header">
			<div style="float: left; width: 2px">
				<img class="logo" src="../images/btclogo.png" />
				
			</div>
			<div style="float: left; width:500px" location="welcomeLabel" class="welcome"></div>
			<div location="logoutButton" class="logout"></div>
			 <div location="homeButton" class="home"></div>
		</div>
	</div>
	<div location="contentArea"></div>
	<div location="statusBar" class="statusbar"></div>
</div>


