<!-- Login Div Bar -->
 <div class="loginBg">
	<div class="loginBox">
		<div style="padding-top: 80px">
			<div>
				<div style="width: 400px; padding: 3px; margin-left: 85px">
					<div style="height: 35px">
						<div style="width: 80px; padding-top: 5px; float: left; color: #161616;font-family: Tahoma;font-size: 13px;line-height: 15px; font-weight: bold">Username</div>
						<div style="float: left">
							<div location="UserName"></div>
						</div>
					</div>
					<div style="height: 27px">
						<div
							style="width: 80px; padding-top: 5px; float: left;color: #161616;font-family: Tahoma;font-size: 13px;line-height: 15px; font-weight: bold">Password</div>
						<div style="float: left">
							<div location="Password"></div>
						</div>
					</div>
				</div>
				<div>
					<div location="LoginButton"></div>
					
					<!-- Sign up and Forgot Password box -->
					<div style="padding: 20px 0px 0px 10px;">
						<div location="Cancel" style="float: left; padding-left: 10px;"></div>
						<div style="float: left; padding: 0px 3px 0px 5px">
							<b> | </b>
						</div>
						<div location="ForgotPassword" style="float: left;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>