@import "../reindeer/styles.css";

<
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,a,a:visited,a:hover
	{
	margin: 0;
	padding: 0;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 13px;
}

.container {
	width: 100%;
	height: 100%;
	background: url(./img/AppBg.png) repeat-x;
}

.headerFiller {
	background: url(./img/headerFiller1.png) repeat-x;
	height: 95px;
	width: 100%;
}

.header {
	background: url(./img/header1.png) no-repeat;
	border-bottom: 1px solid #7e7e7e;
	height: 95px;
	width: 100%;
}

.logo {
	padding-left: 1px;
	padding-top:30px;
}

.loginBg {
	background: url(./images/LoginSide1.png) no-repeat;
	padding-top: 60px;
	padding-left: 430px;
	width: 100%;
	height: 100%;
}

.loginBox {
	background: url(./img/LoginBg.png) no-repeat; width : 600px;
	height: 800px;
	width: 600px;
	
}

.loginButton {
	border: 0;
	cursor: pointer;
	padding: 10px 0 0 170px;
	width: 87px;
	float: left;
}
.cancelButton {
	border: 0;
	cursor: pointer;
	padding: 10px 0 0 190px;
	width: 87px;
	float: left;
}
.home {
	float:right;
	margin-right:20px;
	margin-top:40px;
}
.logout {
	float:right;
	margin-right:20px;
	margin-top:40px;
}
.welcome{
    float:left;
	margin-left:140px;
	margin-top:60px;
	color: blue;
	
}
.environment {
	float:right;
	margin-right:20px;
	margin-top:40px;
}
.v-button-link .v-button-caption,.v-nativebutton-link .v-nativebutton-caption
	{
	color: #FFFFFF;
}

.actionbarFiller {
	background: url(./images/actionbarFiller.png) repeat-x;
	height: 30px;
	width: 100%;
}

.actionbar {
	background: url(./images/actionbar.png) no-repeat;
	height: 30px;
	width: 99%;
	padding-top: 2px;
}

.actionItemBar {
	width: 500px;
	height: 28px;
	margin: 1px;
	padding-right: 10px;
}

.statusbar {
	background: url(./images/statusbar.png) repeat-x;
	width: 100%;
	height: 30px;
}

.v-gridlayout-basic-gridlayout .v-gridlayout-margin {
    background:white;
    padding: 2px;
}

.v-gridlayout-basic-gridlayout > div > div > div {
    background: #F5F5F5;
    padding-top: 2px;
    padding-left: 2px;
}

.manageOrderForm{
  background: #F5F5F5;
}
.formImsiSummary{
	background:white;
	font-size: 15px;
	color:RED;
	
}
.textFieldStyle{
	font-size: 15px;
	color:BLUE;
}
.labelStyle{
	background: #F5F5F5;
	font-size: 15px;
	color:BLUE;
	padding-left: 2px;
	
}
.browseButton{
	padding-right: 2px;
	color:BLUE;
	float:center;
	margin-left:10px;
	
}
.navigationTree{
    font-size: 13px;
	color:BLUE;
	padding-left: 0px;
	padding-top: 14px;
    float:center;
	margin-right:10px;
	margin: 0;
	padding: 0;
		
	
}
.buttonLinkStyle{
    font-size: 13px;
	color:BLUE;
    float:center;
	margin-right:10px;
	margin: 10;
	padding: 0;
}
.popMessage{
	font-size: 10px;
	color:BLUE;
    
}